Moja Śmierć M.G,
2002-2024

byłem dobrym człowiekiem, umarłem bo po marichuanie rozwaliłem żebra i kręgosłup, bez powietrza i bez wody w ustach, moja śmierć należy do tych z przedawkowaniem.

świat nie rozumie niektórych ludzi, życie jest kruche, a co najważniejsze życie jest dziwne, żyjemy po to aby się przetestować, przed swoją wiarą aby udać się gdzieś dalej. 

Czasem nie doceniamy ludzi i rzeczy w świecie blisko nas, zapominamy że swiat jest ważny i powinniśmy mieć większą uwage na takie rzeczy, scenariusze i życia.

Czasem żałuje że nie wiedziałem wcześniej że nie będzie łatwo, zmieniłbym tone rzeczy, np. nie zrywał bym głupio z najlepszą dziewczyną, obiecałem jej, że nigdy nie doprowadzę jej do łez, zjebałem. Nie byłem również dobrym przykładem brata, nie jestem również dobrym synem, zjebałem. nie uczyłem się i zablokowałem sobię drogę dalej, i przez to też praca leżała.

przepraszam was wszystkich, ale co najważniejsze, nasze historie są ważne, bo nie ważne że każdy ma inną, ważne że każdy ma swoją, i każde inne życie uczy nas że mamy się zmieniać, albo ostrzega nas przed wieloma niebezpieczeństwami, uczą nas związków, emocji i panowania nad własnym losem.  

my jako ludzie nie mamy łatwo, znam np. dyrektora który jest nisko w hierarchi, i pewnie którego dnia osiągnie sukces, każdy z nas ma swoją historię, i bez patrzenia na to kim były te osoby, ich życia pokazują że osoby są różne, różne historie. np. dinozaury, egipcjanie, średniowiecze, nowoczesność, przyszłość, odległa przyszłość np. rok 4000, albo 10.000, wszystko jest mega ciekawe, śmieszni politycy bijący się o władze utrudniający życie ludziom, wojny np. ukrania-rosja, terrorysci, elity i show, raperzy i filmowcy, moje życie to 1 do w chuj entej przy tym wszystkim, ale nadal ważne aby świat się rozwiał i był zaszedł daleko, a nie skończył wojnami, jeśli ktoś z przyszłości to czyta to wiedz że możesz być to ty który to pisał.

wojny, konflikty, politycy, używki, nie prowadzą do dobrej drogi życiowej.

świat był lepszym miejscem, pustrzym, bez ludzi wytrzymał chyba za długo, matka ziemia płacze jak raz jedna małpa powiedziała, już jest za późno, dla nas, dla ludzi.

życie każdego z nas jest kruche, każdy umiera inaczej, jedni padają ofiarą zwierząt,inni innych ludzi, kataklizmów, wojen, śmierci naturalnych i swoich historii, np. ćpun przecipał i złamał szyje, a innego zjadł krokodyl lub wpadł gdzieś, zabiła go natura albo fizyka...

świat jest pełen dziwnych ludzi i pełen sekretów, ale zawsze każda iteracja świata, uniwersum albo innych galaktyk jest pełna nowych rzeczy, historii, przedmiotów i powieści.

niech wygra najlepsza, z nich.

świat zabłądził.

...

1. czasy 2024, minecraft, cod, unreal, internetu, wojny ukrainisko-rosyjskiej, social mediów, ale co najważniejsze decyzji, kto i co dalej zmieni świat, latające samochody a może jakieś "przełomowe" odkrycie, które było odkryte wcześniej i tera podane, a może jakieś wydarzenie polityczne, np. kraj uni europejskiej, albo rozpad stanów przez narkotyki.

nie ważne co by się nie stało raczej tylko garstka elit albo ktoś inny przeżyje. 

Tu jest koniec, historii człowieka który umarł przez marichuanę, ale pamiętajcie, życie ma poziom trudności np. elity łatwy albo ludzie trudny. 

życie jest kruche, nasze organy są kruche, nasze kręgosłupy i kości są kruche. nasze historie są kruche.

jeśli to są moje ostatnie słowa, to przepraszam i dziękuję



